In [1]:
import json
import pandas as pd
import mysql.connector

# Extract from JSON
with open('generated_data.json', 'r') as file:
    json_data = json.load(file)

# Extract from MySQL
# Update these parameters with your MySQL database details
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="YOURPASSWORD",
    database="new"
)

    # "host": "localhost",
    # "user": "root",
    # "passwd": "YOURPASSWORD",
    # "database": "new"

query = "SELECT * FROM tables"
mysql_data = pd.read_sql(query, db_connection)
db_connection.close()

# Extract from CSV
csv_data = pd.read_csv('data_source.csv')

C:\Users\randy\AppData\Local\Temp\ipykernel_17024\2138826020.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mysql_data = pd.read_sql(query, db_connection)

In [2]:
# Example transformation: Convert all data to a common format (like a DataFrame)

# Assuming JSON data is a list of dicts
json_df = pd.DataFrame(json_data)

# Transform MySQL and CSV data if needed (they are already DataFrames)

In [8]:
from sqlalchemy import create_engine

In [17]:
# Combine all dataframes
combined_data = pd.concat([json_df, mysql_data, csv_data])

# Write to a new CSV file
combined_data.to_csv('C:/Users/randy/Documents/Data Academy Cybertrend/Working/Data Cleansing/ETL-with-python/ETL_with_Python/output_data.csv', index=False)

# Create a connection string
db_url = f"mysql+pymysql://{db_params['user']}:{db_params['password']}@{db_params['host']}/{db_params['database']}"

    # Create a SQLAlchemy engine
engine = create_engine(db_url)


db_params = {
    "host": "localhost",
    "user": "root",
    "password": "YOURPASSWORD",
    "database": "new"
}

def load_to_mysql(dataframe, table_name, db_params):
    engine_str = f"mysql+pymysql://{db_params['user']}:{db_params['password']}@{db_params['host']}/{db_params['database']}"
    engine = create_engine(engine_str)
    dataframe.to_sql(table_name, engine, if_exists='replace', index=False)
    # Load the DataFrame to the MySQL table

df_combined = pd.concat([df_mysql, df_fake], ignore_index=True)
    
    # Reorder the columns to have 'id' first
df_combined = df_combined[['id', 'name', 'email', 'address', 'purchase_amount', 'purchase_date']]

load_to_mysql(df_combined, 'tables', db_params)

NameError: name 'df_combined' is not defined