In [16]:
!pip install mysql-connector-python
!pip install datetime

Requirement already satisfied: mysql-connector-python in c:\users\randy\anaconda3\envs\ai\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\randy\anaconda3\envs\ai\lib\site-packages (from mysql-connector-python) (4.21.12)
Collecting datetime
  Downloading DateTime-5.2-py3-none-any.whl (52 kB)
     ---------------------------------------- 0.0/52.2 kB ? eta -:--:--
     ---------------------------------------- 52.2/52.2 kB 2.6 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-6.1-cp311-cp311-win_amd64.whl (204 kB)
     ---------------------------------------- 0.0/204.2 kB ? eta -:--:--
     ----------- --------------------------- 61.4/204.2 kB 3.2 MB/s eta 0:00:01
     ------------------- ------------------ 102.4/204.2 kB 1.5 MB/s eta 0:00:01
     -------------------------- ----------- 143.4/204.2 kB 1.2 MB/s eta 0:00:01
     ------------------------------------ - 194.6/204.2 kB 1.2 MB/s eta 0:00:01
     -------------------------------------- 204.2/204.2 kB 1.0 MB/s eta 0:00:00
Requirement already satisfied: pytz in c:\users\randy\anaconda3\envs\ai\lib\site-packages (from datetime) (2023.3.post1)
Requirement already satisfied: setuptools in c:\users\randy\anaconda3\envs\ai\lib\site-packages (from zope.interface->datetime) (67.8.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.2 zope.interface-6.1

In [25]:
import mysql.connector
import pandas as pd
import mysql.connector
from mysql.connector import Error
from faker import Faker
import random
from datetime import datetime

In [26]:
# Define connection parameters
db_params = {
    "host": "localhost",
    "user": "root",
    "passwd": "YOURPASSWORD",
    "database": "new"
}

In [40]:
# Inisialisasi generator data palsu
fake = Faker()
def generate_data_for_null_columns():
    return {
        'purchase_date': fake.date_between(start_date='-1y', end_date='today'),
        'address': fake.address(),
        'purchase_amount': round(random.uniform(10, 100), 2),  # angka acak antara 10 hingga 100
    }

In [41]:
try:
    # Connect to the MySQL database
    db_connection = mysql.connector.connect(**db_params)
    cursor = db_connection.cursor()

    # Query untuk menemukan baris yang memiliki nilai NULL pada kolom tertentu
    cursor.execute("SELECT id FROM data_from_sql WHERE purchase_date IS NULL OR address IS NULL OR purchase_amount IS NULL")
    rows_with_null = cursor.fetchall()

    # Update setiap baris yang memiliki nilai NULL
    for (row_id,) in rows_with_null:
        data_to_update = generate_data_for_null_columns()
        update_query = """
        UPDATE data_from_sql
        SET purchase_date = %s, address = %s, purchase_amount = %s
        WHERE id = %s
        """
        cursor.execute(update_query, (data_to_update['purchase_date'], data_to_update['address'], data_to_update['purchase_amount'], row_id))

    # Commit the changes
    db_connection.commit()
    print(f"{cursor.rowcount} rows were updated.")

except mysql.connector.Error as error:
    print(f"Error: {error}")
    db_connection.rollback()

finally:
    # Close the cursor and the connection
    if db_connection.is_connected():
        cursor.close()
        db_connection.close()
        print("MySQL connection is closed")

1 rows were updated.
MySQL connection is closed

In [39]:
print(df)

    id                   name                              email  \
0    1               John Doe               john.doe@example.com
1    2             Jane Smith             jane.smith@example.com
2    3          Alice Johnson          alice.johnson@example.com
3    4          Michael Brown          michael.brown@example.com
4    5            Emily Davis            emily.davis@example.com
5    6          Daniel Garcia          daniel.garcia@example.com
6    7           Laura Wilson           laura.wilson@example.com
7    8         Kevin Martinez         kevin.martinez@example.com
8    9      Isabella Anderson      isabella.anderson@example.com
9   10          Joshua Thomas          joshua.thomas@example.com
10  11             Sophia Lee             sophia.lee@example.com
11  12  Christopher Hernandez  christopher.hernandez@example.com
12  13           Jessica King           jessica.king@example.com
13  14         Matthew Wright         matthew.wright@example.com
14  15            Olivia Hill            olivia.hill@example.com
15  16            Ethan Scott            ethan.scott@example.com
16  17         Madison Torres         madison.torres@example.com
17  18       Alexander Nguyen       alexander.nguyen@example.com
18  19          Abigail Young          abigail.young@example.com
19  20            David Adams            david.adams@example.com
20  21             Siti Khoir                   siti@example.com

   purchase_date address purchase_amount
0           None    None            None
1           None    None            None
2           None    None            None
3           None    None            None
4           None    None            None
5           None    None            None
6           None    None            None
7           None    None            None
8           None    None            None
9           None    None            None
10          None    None            None
11          None    None            None
12          None    None            None
13          None    None            None
14          None    None            None
15          None    None            None
16          None    None            None
17          None    None            None
18          None    None            None
19          None    None            None
20          None    None            None